html {
    font-size: 62.5%;       /* 1. 1rem = 10px      */
    box-sizing: border-box; /* 1. reset box model  */
 }
 *, *:before, *:after {     /* 2. reset box model   */
    box-sizing: inherit;    /* 3. reset box model   */
    margin: 0;
    padding: 0;
 }

body {
    background-color: hsl(214, 10%, 30%);
    font-size: 16px;
    font-family: "Outfit" , serif;
    
}

.container {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.code {
    background-color: white;
    padding: 16px;
    padding-bottom: 40px;
    width: 320px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.104);
    


}

.code img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 4px 6px 1px rgba(0, 0, 0, 0.099);

}

.descricao {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    color: hsl(218, 44%, 22%);
}

.descricao h3 {
    font-size: 18px;
    font-weight: 800;
    line-height: 120%;
}

.descricao p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
 } 